body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../imgs/fundo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
table{
    margin: 0px auto;
    width: 95%;
}
th, td {
    padding: 5px;
    text-align: left;
}

tr a:hover{
    color: yellow;
}

tr:hover{
    background-color: darkgray;
}

::-webkit-input-placeholder {
    color: white;
    opacity: 70%;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
    opacity: 70%;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
    opacity: 70%;
}

:-ms-input-placeholder {  
    color: white;
    opacity: 70%;
}

.conteudo header{
    grid-area: cabecalho;
}
.conteudo nav{
    font-size: 1.2rem;
    margin-top: 20%;
    grid-area: navegacao;
    overflow: hidden;
    border-radius: 5%;
    text-decoration: none;
    padding-left: 5%;
}

.conteudo nav a{
    color: white;
    text-decoration: none;
}

.conteudo .link-menu:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}

.conteudo main{
    grid-area: conteudo;
    background-color: white;
    color: black;
}
.conteudo footer{
    grid-area: rodape;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: flex-end;
    background-color: black;
    color: white;
    font-size: 15px;
}

.conteudo {
    padding: 0;
    color: white;
    background-color: black;
    box-shadow: 10px 10px 20px black;
    font-family: fantasy;
    font-size: 2rem;
    box-sizing: border-box;
    display: grid;
    min-height: 100vh;
    /* width: 100vw; */
    grid-template-columns: 200px 1fr;
    grid-template-rows: 150px 1fr 50px;
    grid-template-areas: 
    'cabecalho cabecalho'
    'conteudo conteudo'
    'rodape rodape';
    box-sizing: border-box;
    font-family: cursive;
    overflow: hidden;
}

.logo{
    width: 150px;
}

.cabecalho{
    display: flex; 
    align-items: center;
    font-weight: bolder;
    border-radius: 47%;
    justify-content: space-around;
}

#cont{
    font-size: 1.5rem;
}

a.link-cadastro{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 30px;
    font-family: cursive;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
a.link-cadastro:hover{
    box-shadow: 10px 10px 13px black;
}

.conteudo-animado{
    padding: 2%;
}
.conteudo-animado a{
    text-decoration: none;
    color: black;
}

.tbGrupo{
    background-color: #ADD8E6;
}
.lixeira{
    color: black;
}

.lixeira:hover{
    color: red;
}

.img-principal{
    width: 100%;
    margin: auto 0px;
}

#descricao{
    margin: 0px auto;
    width: 95%;
    background-color: #ADD8E6;
    color: black;
    border: 1px solid black;
}

.edit{
    width: 100%;
}

#editarTarefa{
    border: none;
    background-color: #ADD8E6;
    text-align: center;
}

.meu-btn{
    font-size: 4rem;
    margin: auto;
}

.meu-btn:hover{
    cursor: pointer;
    color: green;
}

#tbGrupoInfo{
    background-color: #ADD8E6;
    font-size: 1.2rem;
}

#tbGrupoInfo{
    text-align: center;
}

.textDesc{
    margin-top: 0px auto; 
    color: black; 
    resize: none; 
    border: none; 
    background-color: white;
    margin: auto;
}

.textDesc2{
    margin-top: 0px auto; 
    color: white; 
    resize: none; 
    border: none; 
    background-color: black;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    margin-top: 2%;
}
#tbGrupoInfo td{
    background-color: white;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 32px none #ffffff;
  border-radius: 48px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 8px none #ffffff;
  border-radius: 27px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
