<table class="conteudo-animado" id="tbGrupoInfo">
    <tbody>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th>
                Data de Criação
            </th>
        </tr>
        <tr>
            <td>
                {{gp['nome_grupo']}}
            </td>
            <td>
                <textarea class="textDesc" cols="30" disabled>{{gp['descricao']}}</textarea>
            </td>
            <td>
                {{gp['data_criacao']}}
            </td>
        </tr>
    </tbody>
</table> 
