<div class="conteudo-animado">
    <table class="tbGrupo">
        <h1>Tarefas</h1>
        <tbody>
            <tr>
                <th>
                    Nome da Tarefa
                </th>
                <th>
                    Responsavel
                </th>
                <th>
                    Status
                </th>
            </tr>
            {% if tarefas %}
                {% for t in tarefas %}
                    <tr id="{{t['id_tarefa']}}">
                        <td>
                            {{t['nome']}}
                        </td>
                        <td>
                            {{t['responsavel']}}
                        </td>
                        <td>
                            {{t['status']}}
                            {{t['dta_feita']}}
                        </td>
                        <td>
                            <a href="#" onclick="verDescricao('{{t['descricao']}}')" >descrição</a>
                        </td>
                        {% if t['id_responsavel'] == id_user and t['status'] == 'por fazer' %}
                            <td>
                                <a onclick="marcarTarefa('{{t['id_tarefa']}}')" class="checado" href="#" ><i class="fas fa-check-square"></i></a>
                            </td>
                            <td>
                                <a onclick="carregarEdit({{t['id_tarefa']}})" href="#"><i class="fas fa-edit"></i></a>
                            </td>
                        {% endif %}
                        {% if t['id_responsavel'] == id_user %}
                            <td>
                                <a onclick="apagarTarefa({{t['id_tarefa']}})" href="#"><i class="lixeira fas fa-trash-alt"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% endif %}
        </tbody>
    </table> 
    <div id="descricao">
        
    </div>
</div>
<script>
    function marcarTarefa(id){
        $.ajax({
        url : 'http://localhost:5000/marcar_feita',
        type : 'put',
        data: {
            idTarefa: id
        }
        })
        .done(function(msg){
            document.location.reload(true)
            alert(msg)
        })
        .fail(function(jqXHR, textStatus, msg){
            alert(msg);
        }); 
    }
</script>